.home-bg-img {
  background: url(../Images/pexels-shvets-anna-2570063.jpg) no-repeat;
  background-size: cover;
  background-position: 0% 77%;
}

.home-form-col {
  background-color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 768px) {
  .nav-wrapper {
    height: inherit;
    position: absolute;
  }

  .nav-height {
    height: 50px;
  }
}

.m-icon {
  margin-right: 5px;
  margin-bottom: 4px;
}
